.DS_Store

.ensime*

build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`

tags
.*.swp
.*.swo

*.iml
*.ipr
*.iws
.idea
out

target
*.class
